<nav class="bg-warning text-center py-1">
    <button mat-button>Home</button>

    <button mat-button [matMenuTriggerFor]="belowMenu">Platillos</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Principales</button>
        <button mat-menu-item>Vegetarianos</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Postres</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Calientes</button>
        <button mat-menu-item>Frios</button>
    </mat-menu>


    <div class="btn-group float-end">
        <button mat-raised-button class="me-2">Registrate</button>
        <button mat-raised-button class="me-2">Log In</button>
    </div>

</nav>