<nav class="bg-warning text-center py-1 menu fixed-top ">
    <button mat-button routerLink="/home">Home</button>

    <button mat-button [matMenuTriggerFor]="belowMenu">Platillos</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/platillos_principales">Principales</button>
        <button mat-menu-item routerLink="/platillos_vegetarianos">Vegetarianos</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Postres</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/postres_calientes">Calientes</button>
        <button mat-menu-item routerLink="/postres_frios">Frios</button>
    </mat-menu>


    <div class="btn-group float-end">
        <button mat-raised-button class="me-2">Registrate</button>
        <button mat-raised-button class="me-2">Log In</button>
    </div>

</nav>