<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="banner">
                <div class="banner_descripcion">
                    <h1>Real restaurant experience</h1>
                    <p>Enjoy your first experience in our sections</p>
                    <button>Menu</button>
                    <button class="mx-3">Order Online</button>
                    <button>Book a table</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-card-detalle></app-card-detalle>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            
        </div>
        <div class="col-6">

        </div>
    </div>
</div>