<footer class="pie-pagina">
    <div class="row grupo-1">
        <div class="col-md-4 col-sm-12 columna-1">
            <figure>
                <a href="#"><img src="../../../assets/logo/logo-restaurante-removebg-preview.png" alt="logo del restaurante"></a>
            </figure>
        </div>
        <div class="col-md-4 col-sm-12 columna-2 mt-3">
            <h2>Sobre Nosotros</h2>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veritatis ex ad hic quos ratione iure omnis maiores sint libero?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum suscipit ipsam quibusdam ipsa optio sed sit eaque nulla vel?</p>
        </div>
        <div class="col-md-4 col-sm-12 columna-3 mt-3">
            <h2>Siguenos</h2>
            <div class="red-social">
                <a href="#" class="fa-brands fa-facebook-f"></a>
                <a href="#" class="fa-brands fa-instagram"></a>
                <a href="#" class="fa-brands fa-twitter"></a>
                <a href="#" class="fa-brands fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="row grupo-2 text-center">
        <div class="col-12">
            <small>&copy; 2021 Restaurant Fresh and Natural - Todos los Derechos Reservados</small>
        </div>
    </div>
</footer>
